<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Rotisserie</title>

  <link rel="icon" href="{{ url_for('static', filename='/images/RotisserieChicken.png') }}"/>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/base.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/animations.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/navbar.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/rotimgs.css') }}"/>

  {% block head %}
  {% endblock %}
</head>
<body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script>
    var id = null;
    var animationHeader = $("#animation-header");
    var start = Date.now();

    function beginAnimation() {
      var timer = setInterval(function () {
        console.log("Moving arrow");
        var elapsed = Date.now() - start;
        if (elapsed >= 2000) {
          clearInterval(timer);
        } else {
          var arrow = $("#temporary-stuff");
          arrow.css("left", elapsed / 5 + "px");
        }
      }, 20);
    }

    function headerArrowMove(element) {
      // Get the offset of the arrow from the left as an integer in pixels
      var offsetLeft = +$(element).css("left").slice(0, -2);
      offsetLeft += 5;
      $(element).css("left", `${offsetLeft}px`);
      return offsetLeft;
    }

    function headerArrowsMove() {
      if (Date.now() - start > 10000) {return;}
      var offsetOfLeftestArrow = Number.MAX_VALUE;
      $("#animation-header div.rotimgs-arrow").each(function(index, element) {
        var newOffset = headerArrowMove(element);
        if (newOffset > $(document).width()) {
          $(element).remove();
          return;
        } else if (newOffset < offsetOfLeftestArrow) {
          offsetOfLeftestArrow = newOffset;
        }
      });
      var numArrows = $("#animation-header div.rotimgs-arrow").length;
      if (offsetOfLeftestArrow > 128) {
        spawnHeaderArrow();
      }
    }

    function spawnHeaderArrow() {
      $("<div/>", {
        id: "temporary-stuff",
        "class": "rotimgs-arrow",
        left: "0px"
      })
      .prependTo("#animation-header");
    }

    window.onload = function() {
      // spawnHeaderArrow();
      // beginAnimation();
      setInterval(headerArrowsMove, 20);
    }
  </script>

  {% block scripts %}
  {% endblock %}

  <div id="animation-header" class="animation-box"></div>

  <div class="main">
    {% block content %}
    {% endblock %}
  </div>

</body>