html {
    height: 100%;
}

body {
    background-color: white;
    min-height: 100%;
}

button {
    background-color: #FFB9E9;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    transition: background-color 250ms;
}

button:hover {
    background-color: #DF93C7;
}

.body {
    display: block;
}

.banner {
    position: absolute;
}

/*

.main {
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    display: flex;
    padding: 10px 10% 25px 10%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.main-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

*/

.underneath {
    z-index: -999;
}

#arrow-header {
    max-width: 100vw;
    top: 0;
}

#arrow-footer {
    max-width: 100vw;
    bottom: 0;
}

@media screen and (min-width: 720px) {
    .main {
        padding: 25px 25% 25px 25%;
    }
}