body {
    background-color: white;
}

.main {
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    display: flex;
    /* padding: 10px 10% 25px 10%; */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; /* Put in middle */
}

.main-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#arrow-header {
    max-width: 100vw;
    top: 0;
}

#arrow-footer {
    max-width: 100vw;
    bottom: 0;
}

@media screen and (min-width: 720px) {
    .main {
        padding: 25px 25% 25px 25%;
    }
}