.rotimgs-arrow-right {
    background-image: url("/cdn/static/images/arrow-right.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 128px;
    width: 128px;
    position: relative;
}

.rotimgs-arrow-banner-right {
    background-image: url("/cdn/static/images/arrow-right.png");
    background-repeat: repeat-x;
    height: 128px;
    width: 100%;
}

.rotimgs-arrow-left {
    background-image: url("/cdn/static/images/arrow-left.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 128px;
    width: 128px;
    position: relative;
}

.rotimgs-arrow-banner-left {
    background-image: url("/cdn/static/images/arrow-left.png");
    background-repeat: repeat-x;
    height: 128px;
    width: 100%;
}
